<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'react-datetime' %>
    <title>input-moment</title>
  </head>
  <body>
      <% if @article && @article.errors.any? %>
      <%= content_tag :div,
        id: "article",
        data: {
            errors: @article, 
    }.to_json do %>
    <% end %>
    <% end %>
<%= javascript_pack_tag 'ArticleForm' %> 
  </body>
</html>
